.imgdiv {
    align-items: center;
    display: flex;
    gap: 5px;
  }
  .maintwo {
    display: flex;
    width: 1104px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  