.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.changePassword {
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #FFF;
  width: 496px;
}
.formGap{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.changeMainPassword {
  color: #2e3238;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.passwordHolder {
  display: flex;
  width: 432px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #dce7ef;
  background: #fff;
  outline: none;
}
.confirmPassword {
  display: flex;
  width: 432px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #dce7ef;
  background: #fff;

  outline: none;
}

.endButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
